<a href="/">
  <div>
    <h2 class="logo">Tech Blog</h2>
  </div>
</a>

{{#if user}}
  {{#each posts}}
    <h4>{{title}}</h4>
    <p>POSTED BY {{author.username}} on {{date}}</p>
    <p>{{content}}</p>
  {{/each}}
{{else}}
  <p>You are not logged in. Please log in to see posts.</p>
{{/if}}